<div class="home container is-fluid">
  <h1 class="upcoming-events">My Invites</h1>
  <div class="events-container upcoming-section ">
    <%@events.each do |e|%>
      <%if @attendee && e.id == @attendee.event_id%>
        <div class="event-card" >
          <div class="card-img" style="background: url(https://us.123rf.com/450wm/dvarg/dvarg1904/dvarg190400244/122680670-magic-red-crystal-with-sparkle-decoration-icon-for-games-cartoon-crystals-illustration-stone-healing.jpg?ver=6) 30% 60%">
            <p class="attend"><%= attending_note(e, current_user)%></p>
          </div>
          <div class="card-contents">
            <time datetime="2016-1-1">
              <%= e.day.strftime('%B %d %Y').upcase %><br>
              <%= e.time%>
            </time>
            <div>
              <h2 class="has-text-weight-semibold"> <%= e.title%></h2>
              <p class="subtitle is-6"><%= current_user ? "@#{e.creator.username}" : ""%></p>
              <div class="content has-text-grey">
                <%= e.about[0..100].gsub(/\s\w+\s*$/,'...') %>
                <br>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
