<div class="new-post">
  <h1>Create an event</h1>
  <div>
    <%= form_with(model: @event, local: true)do |f| %>
      <ul>
        <% @event.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      <p>
        <%= f.label :title %><br />
        <%= f.text_field :title, class: "title-input" %>
      </p>
      <br/>
      <br/>
      <div id="inline-form">
        <p>
          <%= f.label :day %><br />
          <%= f.datetime_field :day %>
        </p>
        <p>
          <%= f.label :time %><br />
          <%= drop_menu(f) %>
        </p>
      </div>
      <br/>
      <br/>
      <p>
        <%= f.label :about %><br />
        <%= f.text_area :about %>
      </p>
      <br/>
      <br/>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>
