<div class="login-cover">
<div>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.text_field :username, autofocus: true, autocomplete: "off", placeholder: "Username" %>

  <div class="field password">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", value: 'hAVKJf74n#hB' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>


    <%= f.submit "Log in" %>

<% end %>

<div>
<%= render "devise/shared/links" %>
</div>