<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
    <nav>
    <%= link_to "PRIVATE EVENTS", events_path %>
    <ul>
    <li>
    <% if user_signed_in? %>
            <%= link_to "logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "login", new_user_session_path %>
          <%end%>


    </li>
    </ul>
    </nav>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
