<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="">
      <nav>
        <%= link_to "PRIVATE EVENTS", events_path, class: "has-text-weight-bold" %>
        <ul>
        
          <li>
          <%= navmenu("logout", usersession_path, current_user) %>
         
          </li>
          <li>
          </li>
        </ul>
      </nav>
      <%if alert%>
        <div class="notification is-danger">
          <button class="delete"></button>
          <%= alert %>
        </div>
      <% elsif notice%>
        <div class="notification is-primary">
          <button class="delete"></button>
          <%= notice %>
        </div>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
